// assets/styles/app.scss

// customize some Bootstrap variables
$primary: lavender;
$secondary:indigo;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $primary;
    color: $secondary;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: $secondary;
}

.container-fluid img {
    width: 32px;
    height: 32px;
    margin-right: 20px;
}